#common
*.DS_Store
*.idea
.idea/
Thumbs.db
.gitlab-ci.yml
.log
*.sql
*.sqlite
!.gitignore
*:Zone.Identifier

#node files & sass
node_modules
tmp
.npm-debug.log
.sass-cache
*.css.map

#wordpress
/*
!/wp-content
/wp-content/*
/wp-content/themes/*
!/wp-content/themes
!/wp-content/themes/gulp-test
!/wp-content/themes/gulp-test/*

!/wp-content/plugins/
#/wp-content/plugins/*
#!/wp-content/plugins/gulp-test/

/wp-content/upgrade
/wp-content/uploads
/wp-content/languages

# ignore these plugins
wp-content/plugins/hello.php

#common
*.DS_Store
*.idea
.idea/
Thumbs.db
.gitlab-ci.yml
.log
*.sql
*.sqlite
!.gitignore
*:Zone.Identifier

#node files & sass
node_modules
tmp
.npm-debug.log
.sass-cache
*.css.map

#wordpress
/*
!/wp-content
/wp-content/*
/wp-content/themes/*
!/wp-content/themes
!/wp-content/themes/gulp-test
!/wp-content/themes/gulp-test/*

!/wp-content/plugins/
#/wp-content/plugins/*
#!/wp-content/plugins/gulp-test/

/wp-content/upgrade
/wp-content/uploads
/wp-content/languages

# ignore these plugins
wp-content/plugins/hello.php

